.RulesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0px;
}
.RulesContainer p {
  font-size: var(--font-size-large);
  text-align: center;
  margin: 4px auto;
}
.RulesContainer > div {
  margin: 12px 0px;
  background-color: var(--color-dark);
  padding: 12px 8px;
  border-radius: 4px;
}
.RulesContainer > div h4 {
  margin: 16px;
  font-size: var(--font-size-large);
}
.RulesContainer > div ul {
  list-style: none;
}
.RulesContainer > div ul li {
  padding-left: 15px;
  padding-bottom: 16px;
  font-size: var(--font-size-medium);
  color: lightgray;
}
.RulesContainer > div ul li::before {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--color-orange);
  border-radius: 50%;
  margin-right: 4px;
}