.GroupControlMenu {
  display: flex;
  align-items: flex-start;
  padding-left: 8px;
}
.GroupControlMenu .addMemberButtonContainer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.GroupControlMenu .addMemberButton {
  width: 80%;
  height: 80%;
  color: #FFF;
}
.GroupControlMenu .UpdateGroupLink {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 6px;
}
.GroupControlMenu .UpdateGroupLink .UpdateGroupLinkIcon{
  color: #FFF;
  width: 95%;
  height: 95%;
}