.PoolMatchCardContainer p {
  text-align: center;
  padding-bottom: 12px;
  font-size: var(--font-size-medium);
}
.ResultContainer {
  display: flex;
  align-items: center;
}
.ResultContainer .Penals {
  font-size: var(--font-size-small);
  margin-right: 8px;
  line-height: 14px;
}