.PoolMatchCardContainer {
  width: 48%;
  min-width: 150px;
  padding: 16px 8px;
  background-color: var(--color-dark);
  border-radius: 5px;
  color: #FFF;
  font-size: var(--font-size-medium);
  cursor: pointer;
}
.PoolMatchCardContainer .MatchDate {
  font-size: var(--font-size-medium);
  padding-top: 20px;
  padding-bottom: 0px;
}
.PoolMatchCardContainer .Points {
  font-size: var(--font-size-medium);
  padding-top: 20px;
  padding-bottom: 0;
  font-weight: 700;
  color: greenyellow;
}
.PoolMatchCardContainer:hover {
  background-color: var(--color-light);
}
.PoolMatchCardContainer .TeamContent {
  display: flex;
  justify-content: space-between;
}
.PoolMatchCardContainer .TeamContent:first-child {
  padding-bottom: 16px;
}
.PoolMatchCardContainer .TeamContent span {
  display: flex;
  align-items: center;
}
.PoolMatchCardContainer .TeamContent img {
  width: 25px;
  padding-right: 4px;
}